/* css reset */
:root {
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    --light: #ededed;
    --dark: #000;
    --accent: #FF008E;
    --primary: #5800FF;
    --secondary: #FFC600;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body button {
    font-size: 60px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0 0 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions h2{
  text-align: center;
}

.details {
    display: flex;
    flex-direction: row;
}

.blue, .red {
    margin: 40px;
    text-align: center;
}

#game-board {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0 0 0;
    }

.instructions {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}